  
#scrollToTop {
    position: fixed;
    left: 44%;
    top: 90%;
    width: 10%;
    z-index: 99;
    cursor: pointer;
    color: #9933cc;
    background-color: transparent;
    border: none;
}
    

