.header {
    background-color: #00B98E;
    color: #ffffff;
    padding: 15px;
}

.header-title {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.header-buttons-container {
    display: flex;
    justify-content: space-between;
}

.header-button {  
    color: #ffffff;
    background-color: #0E2E50;
    padding: 5px;
    width: 60px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    text-align: center;
}


