.header {
    background-color: #00B98E;
    color: #ffffff;
}

a {
    font-size: 16px;
}

.header-title {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.header-buttons-container {
    display: flex;
    justify-content: center;
}

.header-button {  
    color: #ffffff;
    display: flex;
    background-color: #0E2E50;
    padding: 5px;
    width: 80px;
    height: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: #00B98E;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    text-align: center;
}


